.row
  .small-4.small-centered.columns
    %form
      %fieldset
        %legend Login
        .row
          .small-6.columns
            %label.inline.left{for: "username"} Username
          .small-6.columns
            %input#username{type: "text"}
        .row
          .small-6.columns
            %label.inline.left{for: "password"} Password
          .small-6.columns
            %input#password{type: "password"}
        .row
          .small-12.columns
            %a.button.success.small.radius.right Login
  

    