.row
  .small-12.columns
    %h2 #{fa_icon 'plus-circle'} New Group 
    %hr
    %form
      
      .row
        .small-5.columns
          .small-3.columns
            =label_tag :name, 'Name', class: 'left inline'
          .small-9.columns
            =text_field_tag :name, nil ,class: 'radius'
      
      .row
        .small-5.columns
          .small-3.columns
            =label_tag :description, 'Description', class: 'left inline'
          .small-9.columns
            =text_area_tag :description, nil, rows: '5', class: 'radius'

      .row
        .small-5.columns
          .small-3.columns
            =label_tag :items, 'Items', class: 'left inline'
          .small-9.columns
            %select{:multiple => 'multiple', :id => 'id_setlist'}
              %option{value: 1} Item 1
              %option{value: 2} Item 2
              %option{value: 2} Item 3
              %option{value: 2} Item 4
              %option{value: 2} Item 5