.row
  .small-12.columns
    %h2 #{fa_icon 'search-plus'} View ##GroupName## 
    %hr
    %form
      
      .row
        .small-12.columns
          %blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel accumsan risus. Mauris rutrum, purus ac pretium laoreet, purus libero rhoncus neque, et vehicula dolor mi vitae velit. Nulla facilisi. Phasellus elementum est ac ipsum dignissim aliquam. Vivamus tempor, quam eu pharetra molestie, mi neque suscipit nisl, non varius diam mi at est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed nunc nec nibh varius convallis in quis eros.
      
      .row
        .small-12.columns
          %h4 Units belonging to the group
          %ul
            %li Item One
            %li Item Two
            %li Item Three
            %li Item Four