.multifooter {
  width: 100%;
  text-align: center;
  padding: 5%;
  font-size: 0.8em;
  font-weight: 400;
  border-radius: 4%;
  background-color: #ddd;
  margin-bottom: 10px;
}

table tr td {
  border-bottom: 1px solid #ccc;
}

.top-guttered {
  margin-top: 10px;
}

.loglinks a {
  font-size: 0.8em;
}

.main a:hover {
  text-decoration: underline;
}